<div class="row">
    <div>
       <img src="../../../assets/foto-guillermo.jpg" class="img-fluid">
    </div>
    <div>
        <p>Guillermo Arena </p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div>
      <span>
        <h1>Acerca de mi</h1>
        <p>Lorem Ipsum  Lorem Ipsum Lorem IpsunLorem Ipsum  Lorem Ipsum Lorem Ipsun
           Lorem Ipsum  Lorem Ipsum Lorem IpsunLorem Ipsum  Lorem Ipsum Lorem Ipsun
           Lorem Ipsum  Lorem Ipsum Lorem IpsunLorem Ipsum  Lorem Ipsum Lorem Ipsun
           Lorem Ipsum  Lorem Ipsum Lorem IpsunLorem Ipsum  Lorem Ipsum Lorem Ipsun
        </p>
        </span>
    </div>
</div>


